body {
    background-color: #15171a;
    color: white;
    font-family: sans-serif;
    padding: 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}